{% load humanize %}

{% for message in messages %}
    {% if message.sender == user %}
        {% if message.next_message.sender == message.sender or message.next_message == null %}
            <div class="row mt-2 justify-content-end">
                <div class="col-8 mr-2 float-right bubble-me-continue py-2">
                    <div>{{message.message}}</div>
                </div>
            </div>
        {% else %}
            <div class="row mt-2 justify-content-end">
                <div class="col-8 mr-2 float-right bubble-me">
                    <div>{{message.message}}</div>
                    <small class="float-right">{{message.sent_at | naturaltime}}</small>
                </div>
            </div>
        {% endif %}
    {% else %}
        {% if message.next_message.sender == message.sender or message.next_message == null %}
            <div class="row mt-2">
                <div class="col-8 ml-2 float-left bubble-other-continue text-white py-2">
                    {% if message.previous_message.sender != message.sender %}
                        <div><strong><u>{{message.sender}}</u></strong></div>
                    {% endif %}
                    <div>{{message.message}}</div>
                </div>
            </div>
        {% else %}
            <div class="row mt-2">
                <div class="col-8 ml-2 float-left bubble-other text-white">
                    {% if message.previous_message.sender != message.sender %}
                        <div><strong><u>{{message.sender}}</u></strong></div>
                    {% endif %}
                    <div>{{message.message}}</div>
                    <small class="float-right">{{message.sent_at | naturaltime}}</small>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}