{% extends 'generic/base.html' %}

{% block title %}<title>Leagues</title>{% endblock %}

{% block content %}

<ul class="nav nav-pills nav-fill bg-dark light border-bottom border-dark" id="top-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link text-light" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Recent</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-light" id="league-tab" data-toggle="tab" href="#league" role="tab" aria-controls="league" aria-selected="true">League</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" id="notification-tab" data-toggle="tab" href="#notification" role="tab" aria-controls="notification" aria-selected="true">
            Notification
            <span id="badge-notify" class="d-none">
                <i class="fas fa-exclamation-circle text-success"></i>
            </span>
        </a>
    </li>
</ul>

<div class="tab-content" id="top-tabsContent">
    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">

    </div>
    <div class="tab-pane fade show active" id="league" role="tabpanel" aria-labelledby="league-tab">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-6">
                    <h5 class="text-center">Create new League</h5>
                    <form method="POST" class="form-inline justify-content-center" action="{% url 'league' %}">
                        {% csrf_token %}
                        <div class="form-group mx-2">
                            <input type="text" class="form-control" name="name" placeholder="League Name" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn form-control btn-outline-success">Create</button>
                        </div>
                    </form>
                </div>
            </div>

        
            <div class='row justify-content-center mt-5'>
                <div class='col-12 col-md-6'>
                    <h5 class="text-center"> Your Leagues </h5>
                    <div class="list-group">
                    {% for league in leagues %}
                        <a class="list-group-item list-group-item-action" href="{% url 'chat' league.slug %}">{{league.name}}<span id="badge-{{league.slug}}" class="float-right d-none"><i class="fas fa-exclamation-circle text-success"></i></span></a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--- Home for all the notification -->
    <div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
        <div class="container" id="notification-list">
            {% for notice in notifications %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 border-bottom">
                    <p>{{notice.text}}</p>
                    <small class="float-right">{{notice.timestamp}}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    // var username = $("#id_username").text();
    var addr = 'ws://' + window.location.host + window.location.pathname;

    var socket = new WebSocket(addr);

    socket.onmessage = function(msg) {
    var data = JSON.parse(msg.data);
    if(data.type == "message:new"){
        var message = data.content.message;
        console.log(message.league);
        $('#badge-'+ message.league).toggleClass('d-none');
    }
    else if(data.type == "invite:new"){
        var invites = $('#invite-count')
        count = parseInt(invites.attr('data-count')) + 1
        invites.attr('data-count', count)
        invites.html(count)
    }
    else if(data.type == "notify:new"){
        $('#badge-notify').toggleClass('d-none');
        var notice = `
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 border-bottom">
                    <p>` + data.content.text + `</p>
                    <small class="float-right">` + new Date(Date.now()).toDateString() + `</small>
                </div>
            </div>`
        $('#notification-list').prepend(notice);
    }
};

    if(socket.readyState == socket.OPEN) socket.onopen();
</script>

{% endblock %}
