{% extends 'generic/base.html' %}

{% block content %}
{% if invites %}
    {% for invite in invites %}
        <div class="container">
            <div class="row justify-content-center py-2 border-bottom">
                <div class="col-7 col-md-8">
                    <strong>{{invite.league}}</strong> as {{invite.get_permissions_display}}
                </div>
                <div class="col-2 mr-1 mr-md-0">
                    <a href="{% url 'invite_accept' invite.pk %}" class="btn btn-outline-success btn-sm">Accept</a>
                </div>
                <div class="col-2">
                    <a href="{% url 'invite_reject' invite.pk %}" class="btn btn-outline-danger btn-sm">Reject</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h5 class="text-center">No new invites</h5>
{% endif %}
{% endblock %}