<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>Channels Chat</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


    <!-- Add additional CSS -->
    {% load static member_permissions %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header class="sticky-top bg-dark" style="z-index: 999">
        <nav class="navbar border-bottom">
            <div class="container">
                <div class="navbar-brand">
                    <a class="text-white" href="{% url 'home' %}"><i class="fas fa-chevron-left align-text-bottom"></i></a>
                    <span class="ml-3 text-white">{{ league.name }}</span>
                </div>
            </div>
        </nav>
    </header>

    <main class="container bg-white border-left border-right mb-5 pb-5">
        <p id="id_username" hidden>{{user.username}}</p>
        <div class="row justify-content-center">
            <div class="col col-md-6">
                {% for member in members %}
                <div class="row border">
                    <div class="col-3 col-lg-2">
                        <img class="img-thumbnail rounded-circle" src="{{member.avatar.url}}">
                    </div>
                    <div class="col-9 col-lg-10">
                        <strong class="valign-center">{{member.username}}</strong>
                        <small class="float-right">{% permission_level member league %}</small>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    
    <!-- Load all javascript at the end -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    {% block scripts %}
    <!-- block to add your own scripts -->
    {% endblock %}

</body>

</html>
