<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>Channels Chat</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


    <!-- Add additional CSS -->
    {% load static member_permissions %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header class="sticky-top bg-dark" style="z-index: 999">
        <nav class="navbar border-bottom">
            <div class="container">
                <div class="navbar-brand">
                    <a class="text-white" href="{% url 'home' %}"><i class="fas fa-chevron-left align-text-bottom"></i></a>
                    <span class="ml-3 text-white">{{ league.name }}</span>
                </div>
                <ul class="nav justified-content-end text-light">
                    <li class="nav-item" id="addMember">
                        <i class="fas fa-plus" id="addBtn"></i>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container bg-white border-left border-right mb-5 pb-5">
        <p id="id_username" hidden>{{user.username}}</p>

        <div class="row justify-content-center d-none mt-2 mb-3" id="inviteForm">
            <div class="col border-bottom pb-3">
                <form action="{% url 'invites' %}" method="POST">
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <input type="text" name="league_name" value="{{ league.name }}" hidden>
                        <input type="text" name="username" class="col-md-6 form-control mb-2" placeholder="Username" autocomplete="off">
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="permissions" id="owner-permission" value="owner">
                            <label class="form-check-label" for="permissions">owner</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="permissions" id="master-permission" value="master">
                            <label class="form-check-label" for="permissions">master</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="permissions" id="member-permission" value="member">
                            <label class="form-check-label" for="permissions">member</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="permissions" id="guest-permissoin" value="guest" checked>
                            <label class="form-check-label" for="permissions">guest</label>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-outline-success btn-sm">Invite</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-md-6">
                {% for member in members %}
                <div class="row border-bottom">
                    <div class="col-3 col-lg-2 py-2">
                        <img class="img-fluid rounded-circle" src="{{member.avatar.url}}">
                    </div>
                    <div class="col-9 col-lg-10">
                        <span class="font-weight-bold">{{member.username}}</span><br>
                        <small class="">{% permission_level member league %}</small>
                        {% if kick_perm == 'owner' or kick_perm == 'master' %}
                        <a href="{% url 'kick_member' league.pk member.pk %}"><i class="far fa-trash-alt text-danger float-right"></i></a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    
    <!-- Load all javascript at the end -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        $('#addMember').click(function(){
            $('#inviteForm').toggleClass('d-none');
            $('#addBtn').toggleClass('rotate-45');
        })

        var addr = 'ws://' + window.location.host + window.location.pathname;

        var socket = new WebSocket(addr);

        socket.onmessage = function(msg) {
            var data = JSON.parse(msg.data);
            console.log(data)
            if(data.type == "league:kicked"){
                var message = data.content;
                console.log(message.member + " was kicked form the league")
            }
            else if(data.type == "league:kicked:self"){
                console.log("you were kicked form this league")
            }
        }

        if(socket.readyState == socket.OPEN) socket.onopen();
    </script>

    {% block scripts %}
    <!-- block to add your own scripts -->
    {% endblock %}

</body>

</html>
