{% extends "generic/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed, 
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class='row'>
    <div class='col s12 m6 offset-m3'>
        {% for field in form %}
        <div class='row margin'>
            <div class='input-field col s12'>
                {{ field }}
                {{ field.label_tag }}
            </div>
        </div>
        {% endfor %}

        <div class="row">
            <div class='col s12'>
                <button class='btn col s4 offset-s4 waves-effect waves-light' type="submit">Login</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
            <div class='col s12'>
                <p class='center'><a href="{% url 'password_reset' %}">Lost password?</a></p>
            </div>
        </div>
    </div>
</div>
</form>


{% endblock %}
