{% extends "generic/base.html" %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed, 
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="row justify-content-md-center">
    <div class="col-12 col-sm-8 col-md-6">
        <div class="card z-depth-1">
            <h4 class="card-header text-center">Enter Credientials</h4>
            <form action="{% url 'login'%}?next={{next}}" method="POST" class="needs-validation">
                {% csrf_token %}
                <div class="card-body">
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag}}
                        {{ field }}
                        <small class="text-danger">{{field.errors}}</small>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <div class="row justify-content-end">
                        <input type="reset" class="btn btn-light" value="Reset">
                        <input type="submit" class="btn btn-outline-success" value="Continue">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
