{% extends 'generic/base.html' %}

{% block content %}
<div class='row'>
    <div class='col s12 m6 offset-m3'>
        <form method="post">{% csrf_token %}
            {% if form.email.erros %} {{ form.email.errors }} {% endif %}
            <div class='input-field'>
                <label for='email'>Email</label>
                {{ form.email }}
            </div>
            <div class='row'>
            <input type='submit' class='col s6 offset-s3 btn waves-effect waves-light' value='Reset password' />
            </div>
        </form>
    </div>
</div>

{% endblock %}
