{% extends 'generic/base.html' %}
{% load i18n static %}

{% block content %}

{% if validlink %}

<div class="row justify-content-center">
    <div class="col-xs-12 col-md-6">
        <p class="text-center">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        {% for error in form.non_field_errors %}
            <div class="form-group has-errors text-danger small">
                {{error}}
            </div>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_new_password1">New Password</label>
                <input type="password" class="form-control" name="new_password1" id="id_new_password1">
                {% for error in form.new_password1.errors %}
                <small class="text-danger">{{error}}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="id_new_password2">Confirm New Password</label>
                <input type="password" class="form-control" name="new_password2" id="id_new_password2">
                {% for error in form.new_password2.errors %}
                <small class="text-danger">{{error}}</small>
                {% endfor %}
            </div>
            <button class="btn btn-outline-success" type="submit">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}