<nav class="navbar border-bottom">
    <div class="container">
        <a class="navbar-brand text-secondary" href="{% url 'home'%}">YAM</a>
        <ul class="nav justified-content-end">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'leagues' %}">Leagues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'invites' %}">Invites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
