<nav class="navbar border-bottom">
    <div class="container">
      <a class="navbar-brand text-dark" href="{% url 'home' %}">YAM</a>
      <ul class="nav justified-content-end">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="#"><i class="fas fa-users align-bottom"></i><span id="invite-count" class="px-1 badge badge-pill badge-info align-top"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark mr-2" href="{% url 'profile' %}"><i class="fas fa-cogs align-bottom"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-danger btn-sm" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-outline-success btn-sm" href="{% url 'signup' %}">Signup</a>
            </li>
        {% endif %}
      </ul>
    </div>
</nav>