<nav class="navbar bg-dark">
    <div class="container">
      <a class="navbar-brand text-white" href="{% url 'home' %}">YAM</a>
      <ul class="nav justified-content-end">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a id="show-search" class="nav-link text-white"><i class="fas fa-search"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'invites' %}"><i class="fas fa-users"></i><span id="invite-count" class="px-1 badge badge-pill badge-danger align-top"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'profile' %}"><i class="fas fa-cog"></i></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt align-bottom"></i></a>
            </li> -->
        {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-outline-success btn-sm" href="{% url 'signup' %}">Signup</a>
            </li>
        {% endif %}
      </ul>
    </div>
</nav>
<div class="container d-none" id="search-box">
    <div class="row my-1">
        <div class="col-11">
            <input class="form-control border-straight border-dark" type="text" placeholder="Search Leagues" name="league-name">
        </div>
        <div class="col-1 px-0 pt-2">
            <h5 id="close-search"><i class="fas fa-times text-danger"></i></h5>
        </div>
    </div>
</div>