body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

.light li.nav-item a.active {
    border-radius: 0 !important;
    background-color: #343a40;
    outline-offset: 1px;
    border-bottom: 4px solid white;
}

.bubble-me{
    border: 1px solid grey;
    border-radius: 15px 15px 0 15px;
}

.bubble-me-continue{
    border: 1px solid grey;
    border-radius: 15px;
}

.bubble-other{
    border: 1px solid #369dd8;
    border-radius: 0 15px 15px 15px;
    background: #369dd8;
}

.bubble-other-continue{
    border: 1px solid #369dd8;
    border-radius: 15px;
    background: #369dd8;
}