body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

.hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.border-straight{
    border-radius: 0 !important;
}

.light li.nav-item a.active {
    border-radius: 0 !important;
    background-color: #343a40;
    outline-offset: 1px;
    border-bottom: 4px solid white;
}

.bubble-me{
    border: 1px solid grey;
    border-radius: 15px 15px 0 15px;
}

.bubble-me-continue{
    border: 1px solid grey;
    border-radius: 15px;
}

.bubble-other{
    border: 1px solid #369dd8;
    border-radius: 0 15px 15px 15px;
    background: #369dd8;
}

.bubble-other-continue{
    border: 1px solid #369dd8;
    border-radius: 15px;
    background: #369dd8;
}

.rotate-45{
    animation: rotation-45 .33s forwards;
}

@keyframes rotation-45 {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(45deg);
    }
}