body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

.page-footer {
    z-index: 3 !important;
}

.message-bubble{
    border-radius: 5px;
    margin: 3px;
}

.message-bubble:before{
    content: '';
    height: 0;
    width: 0;
    border-style: solid;
}

.message-bubble.other:before{
    border-width: 0 15px 15px 0;
    border-color: transparent #006064 transparent transparent;
    position: absolute;
    top: 0;
    left: -12px;
}

.message-bubble.me:before{
    border-width: 15px 15px 0 0;
    border-color: #e0e0e0 transparent transparent transparent;
    position: absolute;
    top: 0;
    right: -12px;
}

.chat-container{
    position: absolute;
    height: 90vh;
    overflow: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 80px;
    padding-bottom:0;
    top: 0;
}

.chat-container::-webkit-scrollbar {
    width: 10px;
}

.chat-container::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

.chat-container::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}
