{% extends 'generic/base.html' %}

{% load staticfiles %}

{% block content %}
<p id='id_username' hidden>{{ username }}</p>

<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#inviteModal">
    Invite new member
</button>

<div class='chat-container row'>
    <div id="chat-container" class="col-12 px-5">
        {% for message in messages %}
            {% if message.sender == user %}
                <div class="row mt-1 justify-content-end">
                    <div class="col-10 col-md-8 me message-bubble bg-green">
                        <p><b>{{ message.sender.username }}</b></p>
                        <p>{{ message.message }} </p>
                    </div>
                </div>
            {% else %}
                <div class="row mt-1 justify-content-start">
                    <div class="col-10 col-md-8 other message-bubble bg-blue">
                        <p><b>{{ message.sender.username }}</b></p>
                        <p>{{ message.message }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="inviteModalLabel">Invite New Member</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'invites' %}" method="POST" id="inviteForm">
                    {% csrf_token %}
                    <input type="text" name="league_name" value="{{ league_name }}" hidden>
                    <input type="text" name="username" class="form-control mb-2" placeholder="Username">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="permissions" id="owner-permission" value="owner">
                        <label class="form-check-label" for="permissions">owner</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="permissions" id="master-permission" value="master">
                        <label class="form-check-label" for="permissions">master</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="permissions" id="member-permission" value="member">
                        <label class="form-check-label" for="permissions">member</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="permissions" id="guest-permissoin" value="guest">
                        <label class="form-check-label" for="permissions">guest</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" form="inviteForm" class="btn btn-primary">Invite</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block chat_footer %}
    <div class="message-box clearfix container">
        <div class="row">
            <div class="col-10 col-md-11 px-1">
            <form id="id_form_msg_box">
                <textarea name="message-to-send" class="px-2 py-1" id="id_msg_box" placeholder ="Type your message" rows="3" resize="none"></textarea>
            </form>
            </div>
            <div class="col-2 col-md-1 align-middle pt-4">
                <button type='submit' form='id_form_msg_box' class="btn"><i class="material-icons text-center text-primary">send</i></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/script.js' %}"></script>
<script src={% static 'js/chat.js' %}></script>
{% endblock %}