{% extends 'generic/base.html' %}

{% load staticfiles %}

{% block content %}

<!--- Make invite form appear as modal -->

<a class='waves-effect waves-light btn-floating green modal-trigger' href='#invite-modal'>
    <i class='material-icons white-text'>add</i>
</a>

<div id='invite-modal' class='modal'>
    <div class='modal-content'>
        <h4> Invite by Username</h4>
        <form id='invite-form' method='post' action='/invites/'>
            {% csrf_token %}
            <input type='hidden' value={{league_name}} name='league_name'/>
            <input type='text' name='username' placeholder='Username to invite'/>
        </form>
    </div>
    <div class='modal-footer'>
        <button class='btn-flat modal-action modal-close'>Cancel</button>
        <input type='submit' form='invite-form' class='btn-flat modal-action modal-close' value='Invite' />
    </div>
</div>

<!--- Invite modal ends here -->

<!--- The actual chat window which will contain the chat stream -->

<p id='id_username' hidden>{{ username }}</p>

<div id='chat-container' class='green lighten-2 chat-container'>
    <div id='id_chat' class='row bottom'>
        {% for message in messages %}
        {% if message.sender == user %}
            <div class='col s10 m8 push-s2 push-m4 z-depth-1 message-bubble me grey lighten-2'>
        {% else %}
            <div class='col s10 m8 pull-s0 z-depth-1 message-bubble other cyan darken-4 white-text'>
        {% endif %}
                <p><b> {{ message.sender.username }}</b><p>
                <p>{{ message.message }} </p>
           </div>
        {% endfor %}
    </div>
</div>

<div id='id_chat_input' class='z-depth-4 black-text white page-footer row' style="margin-bottom:0">
    <div class='col s9'>
        <form id='id_form_msg_box'>
            <input id='id_msg_box' type='text' autocomplete='off'>
        </form>
    </div>
    <div class='col s2 push-s1'>
        <button type='submit' form='id_form_msg_box' class='btn-floating cyan darken-4 waves-effect waves-light'>
            <i class='material-icons'>send</i>
        </button>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/script.js' %}"></script>
<script src={% static 'js/chat.js' %}></script>
{% endblock %}
