{% extends 'generic/base.html' %}

{% load staticfiles %}

{% block content %}
<form method='post' action='/invites/'>
    {% csrf_token %}
    <input type='hidden' value={{ league_name }} name='league_name'/>
    <input type='text' name='username' placeholder='Usename to invite'/>
    <input type='submit' value='Invite'/>
</form>
<p id='username'>{{ username }}</p>

<form id='id_form_msg_box'>
    <div class='input-group'>
        <input class='form-control' id='id_msg_box' type='text' autocomplete='off'/>
        <div class='input-group-append'>
            <button class='input-group-text' type='submit'><i class='align-middle mdi mdi-send'></i></button>
        </div>
    </div>
</form>

<table id='id_chat'>
    {% for message in messages %}
    <tr>
        <td>{{ message.sender.username }}</td>
        <td>{{ message.message }}</td>
        <td>{{ message.timestamp }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block scripts %}
<script src={% static 'js/chat.js' %}></script>
{% endblock %}
