{% load staticfiles %}
<html>
    <head>
        <title>YAM</title>
    </head>
    <body>
        <h1>Welcome to YAM</h1>

        {% block chat %}
        <form method='post'>
            {% csrf_token %}
            <input type='text' name='username' placeholder='username' />
            <input type='text' name='room' placeholder='chat room'/>
            <input type='submit'/>
        </form>
        {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>
