<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>Channels Chat</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewpost" content="width=device-width, intial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Add additional CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <ul class='dropdown-content' id='header-dropdown'>
            {% block header_dropdown %}
            {% endblock %}
            {% if user.is_authenticated %}
            <li class='hide-on-large-only'><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    {% include 'generic/header.html'%}
    </header>

    <main>
    {% block content %} {% endblock %}
    </main>

    <footer>
        {% block chat_footer %}{% endblock %}
    </footer>
    
    <!-- Load all javascript at the end -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>

    {% block scripts %}
    <!-- block to add your own scripts -->
    {% endblock %}

</body>

</html>
