<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>Channels Chat</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewpost" content="width=device-width, intial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Add additional CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <ul id='dropdown1' class='dropdown-content'>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}

        {% block dropdown1%} {% endblock %}
    </ul>

    {% include 'generic/header.html' %}

    {% block content %} {% endblock %}

    
    <!-- Load all javascript at the end -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>

    {% block scripts %}
    <!-- block to add your own scripts -->
    {% endblock %}

</body>

</html>
